@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Roboto+Flex:wght@300&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: black;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #ce1111;
}


h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ce1111;
}

nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: black;
}


