@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Roboto+Flex:wght@300&display=swap');

/* all pages features */

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: black;
}

/* style headings */

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: #ce1111;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ce1111;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ce1111;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: black;
}

/* logo and header */

header {
    background: #ce1111;
}

.header {
    line-height: 75px;
    text-transform: uppercase;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

.logo h1 {
    font-size: 30px !important;
    text-decoration: none;
}

/* nav bar */

#menu ul, .logo {
    text-align: center;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    letter-spacing: 3px;
    margin-right: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

/* menu anchors */

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* landing image */

#hero-image {
    background-image: url("../images/purple-kit-2.jpeg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: fill;
    image-rendering: auto;
}

/* tables */

table,
th,
tr {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dfd9d9;
}

table {
    width: 100%;
}

tr:hover {
    background-color: #d28d8d;
}

/* home page features */

#history-box {
    background-color: #ECECEC;
}

#history-box p {
    text-align: center;
}

#season-update p {
    text-align: center;
}

#funds-border {
    border: 10px;
    border-style: outset;
}

#funds-border p {
    text-align: center;
    background-color: #ECECEC;
}

/* Fixtures page features */

#latest-upcoming-section {
    width: 100%;
}

#jb-goal {
    padding-top: 40px;
}

/* central london premier league and map section */

#central-london-premier-section {
    display: flex;
    justify-content: space-between;
}

.home-ground-map {
    padding-bottom: 50%;
    position: relative;
}

.home-ground-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#home-ground-address {
    float: right;
    margin: 0 1.5%;
    width: 35%;
}

/* team page features */

#team-page-top-section {
    display: flex;
    justify-content: space-between;
}

#team-page-top-section table {
    border: #ce1111 2px solid;
}

#bcfcls-player-border {
    border: 2px dotted #ce1111;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

#fantasy-rules-table {
    border: 2px dotted #ce1111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    padding: 30px;
    box-sizing: border-box;
    /*width: 70%;*/
}

#rules-extras {
    display: flex;
}

/* team mentions player quotes section */

.player-matchweek {
    margin: 30px;
    padding: 20px;
}

.player-matchweek img {
    width: 100%;
    height: 100%;
}

#quotes-mentions-section {
    display: flex;
    justify-content: space-evenly;
}

#team-mentions {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5%;
    margin: 1%;
}

#team-mentions img {
    width: 25%;
    height: 60%;
}

#team-mentions h2 {
    width: 100%;
}

#captain-manager-quotes {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5%;
    margin: 1%;
}

#captain-manager-quotes img {
    width: 15%;
    height: 50%;
}

/* Social page feautres */

#news-social-sections {
    display: flex;
    justify-content: space-around;
}

#left-social {
    display: flex;
    justify-content: space-between;
    margin: 1.5%;
    padding: 1.5%;
    box-sizing: border-box;
    border: 2px double #ce1111;
    background-color: #f4f2f2;
}

#right-social {
    display: flex;
    justify-content: space-between;
    margin: 1.5%;
    padding: 1.5%;
    box-sizing: border-box;
    border: 2px double #ce1111;
    background-color: #f4f2f2;
}

#bottom-social {
    display: flex;
    justify-content: space-around;
    margin: 1.5%;
    padding: 1.5%;
    box-sizing: border-box;
    width: 768px;
    height: 489px;
    border: 6px double #ce1111;
    image-rendering: auto;
}

#twitter {
    width: max-content;
    overflow: auto;
}

.twitter-timeline {
    width: 100%;
}

.twitter-follow-button {
    width: auto;
    display: flex;
    margin-right: 30px;
    box-sizing: border-box;
}

/* gallery page features */

.gallery {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.gallery img {
    height: 400px;
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 2%;
    color: #ce1111;
    padding: 5%;
}

/* media queries */

@media screen and (max-width: 1180px) {

    .logo>h1 {
        font-size: 40px;
        line-height: 30px;
    }

    #menu li {
        letter-spacing: 2px;
        margin-right: 20px;
        font-size: 16px;
    }

    #bottom-social img {
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 990px) {

    .logo>h1 {
        font-size: 30px;
        line-height: 30px;
    }

    #menu li {
        letter-spacing: 2px;
        margin-right: 16px;
        font-size: 11px;
    }
}

@media screen and (max-width: 950px) {

    /* All pages */

    #menu ul, .logo {
        line-height: 30px; 
    }
    
    .logo h1 {
        font-size: 2.5vmax !important;
    }

    #hero-image {
        height: 300px;
        background-size: cover;
    }

    /* Fixtures page features */

    #latest-upcoming-section {
        flex-direction: column;
        align-items: center;
    }

    .home-ground-map iframe {
        width: auto;
        height: auto;
    }

    #jb-goal {
        width: auto;
        height: auto;
    }

    #central-london-premier-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #central-london-premier-section table {
        width: 100%;
    }

    #home-ground-address iframe {
        width: 100%;
        height: 100%;
    }

    /* team page features */

    #team-page-top-section {
        width: 100;
        display: flex;
        flex-direction: column;
    }

    #bcfcls-player-border {
        margin-bottom: 20px;
    }

    #team-page-top-section table {
        width: 100%;
    }

    #quotes-mentions-section {
        flex-direction: column;
        align-items: center;
    }

    /* Social page features */

    #news-social-sections {
        flex-direction: column;
        align-items: center;
    }

    #bottom-social {
        border: none;
        width: 100%;
        height: fit-content;
    }

    .gallery img {
        height: 200px;
    }

    .gallery video {
        height: 200px;
    }
}

@media screen and (max-width: 800px) {

    #team-mentions img {
        width: 30%;
        height: 40%;
    }
}