@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Roboto+Flex:wght@300&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: #ce1111;
}


h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ce1111;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #ce1111;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: black;
}

/* logo and header */ 

header {
    background:#ce1111;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

#logo-text {
    height: 140px;
    width: 100%;
    background-color: #ce1111;
}

#logo h1 {
    float: left;
    flex-direction: column-reverse;
    font-size: 280%;
}

/* nav bar */

#menu {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #fff;
}

#menu, #logo {
    line-height: 75px;
    text-transform: uppercase;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
    letter-spacing: 1.5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* home page hero image */

#hero-image {
    background-image: url("../images/purple-kit-2.jpeg"); 
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* home page text */

#history-box {
    background-color: #ECECEC ;
}

#history-box p {
    text-align: center;
}

#season-update p {
    text-align: center;
}

/* fixtures and results */

#funds-border {
    border: 10px;
    border-style: outset;
}

#funds-border p {
    text-align: center;
    background-color: #ECECEC
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 2%;
    color: #ce1111;
    padding: 5%;
}

/* tables */

table, th, tr {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dfd9d9;
}

tr:hover {
    background-color: #d28d8d;
}

/* image ids */

#jb-drink {
    position: relative;
    display: flex;
}

#jb-drink img {
    position: absolute;
    right: 0px;
    top: -25vh;
    margin-right: 300px;
    margin-top: 50px;
}

/* team page */

#team-page-top-section {
    display: flex;
    justify-content: space-around;
}

#team-page-top-section table {
    border: #ce1111 2px solid;
}

#bcfcls-player-border {
    border: 2px dotted #ce1111;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
}
#fantasy-rules-table {
    border: 2px dotted #ce1111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
    width: 70%;
}

#rules-extras {
    display: flex;
}

/* team player quotes */

#team-player-quotes {
    display: flex;
    flex-direction: column;
    margin: 0 1.5%;
    width: 40%;
}

#team-player-quotes img {
    display: flex;
}

#team-player-quotes div {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#player-matchweek {
    margin: 30px;
    padding: 20px;
}


/* map */

.home-ground-map {
    padding-bottom: 50%;
    position: relative;
}

.home-ground-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#home-ground-address {
    float: right;
    margin: 0 1.5%;
    width: 35%;
}

/* news and social page */

#upcoming-social-events {
    height: 1000px;
}

#left-social {
    float: left; 
    margin: 1.5%;
    padding: 20px; 
    width: 23%;
    border: 2px double #ce1111;
    background-color: #f4f2f2;
}

#right-social {
    float: left;
    margin: 1.5%;
    padding: 20px;
    width: 23%;
    border: 2px double #ce1111;
    background-color: #f4f2f2;
}

#bottom-social {
    padding-top: 30px;
    padding-left: 70px;
    width: 33%;
}

#twitter {
    display: flex;
    flex-direction: column;
    top: -25vh;
}

.twitter-timeline {
    width: 600px;
    height: 300px;
    margin-right: 30px;
}


.twitter-follow-button {
    width:auto;
    display: flex; 
    margin-right: 30px;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0%; 
    column-count: 4;
    column-gap: 0px;
    row-gap: 0px;
}

#gallery > img {
    width: 100%;
}

#gallery > video {
    width: 100%;

}






